body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}

input {
    grid-column: span 4;
    height: 50px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
}

button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.zero {
    grid-column: span 4;
}
